 <%= form_for(@starring, remote: true) do |f| %>
 <%= render "shared/error_messages", :target => @starring %>

  <div id="starringBox">

  </div>

  <script type="text/javascript">
     StarringUpdate ();
  </script>
 
  <div class="field" style="display: none;">
    <%= f.label :creation_time, :value => "Make Favorite" %><br />
    <%= f.text_field :creation_time, :value => DateTime.now, :readonly => "readonly" %>
  </div>
  <div class="field" style="display: none;">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id, :value => current_user.id, :readonly => "readonly" %>
  </div>
  <div class="field" style="display: none;">
    <%= f.label :restaurant_id %><br />
    <%= f.text_field :restaurant_id, :value => @restaurant.id, :readonly => "readonly" %>
  </div>
 <% end %>