<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="Navbar">
	<nav class="navbar navbar-inverse navbar-static-top" id="Nav">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" id="menuButton">
			Menu                        
		  </button>
		  <%= link_to "Jerry's Restaurant Directory", restaurants_path, :id => "NavLink", :class => "navbar-brand", :style => "color:white"%>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
		  <ul class="nav navbar-nav navbar-left">
			<li class="active"><a href="#" id="NavLink">Find restaurant</a></li>
		  <% if user_signed_in? %>
		  	  <li class="active"><%= link_to "Reservations", user_reservations_path(current_user), :id => "NavLink" %></a></li>
			  <% if current_user.role == "owner" || current_user.role == "admin"%>
				<li class="active"><%= link_to "Owner protal", user_path(current_user), :id => "NavLink" %></a></li>
			  <% end %>
		  <% end %>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
		  <% if user_signed_in? %>
		    <li class="active"><%= link_to current_user.email, edit_user_registration_path, :id => "NavLink" %></li>
		  	<li class="active"><%= link_to "Logout", destroy_user_session_path, method: :delete, :id => "NavLink" %></li>
		  <% else %>
		  	<li class="active"><%= link_to "Login", new_user_session_path, :id => "NavLink" %></li>
			<li class="active"><%= link_to "Sign Up", new_user_registration_path, :id => "NavLink" %></li>
		  <% end %>	
		  </ul>
		</div>
	  </div>
	</nav>
</div>

<div class="center" id="welcome">
	<% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
	<% if alert %><div class="alert alert-warning"><%= alert %></div><<% end %>
	<%= yield %>
</div>

</body>
<footer>
	<div id="leftFooter">
			<a href="#" id="leftFooterText" style="color:white" onclick="footerUp();">about</a> 
	</div>
	<div id="rightFooter">
    	<span id="rightFooterText">
			Copyright &copy; by 2015 Jerry Lin
        </span>
	</div>
	<div id="about">
		This is the about information.
	</div>
</footer>
</html>
